body {
    margin: 50px;
    font-family: 'Georgia';
    background-color: #faeffe;
    color: #331133;
    text-align: left;
    max-width: 70ch;
}
 
 
header {
    background: #faeffe;
    color: #331133;
    padding: 10px 0;
    text-align: center;
}
 
 
nav {
    margin: 0px 0;
}
 
 
nav a {
    color: #331133;
    text-decoration: none;
    padding: 10px 10px;
    text-decoration: underline;
}
 
 
nav a:hover {
    text-decoration: none;
}

.content {
    max-width: 80ch;
}